<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>alaa5366@hotmail.com</AccountUsername>
    <AzureServiceName>BuildingManagementMVC20260930173859</AzureServiceName>
    <AzureServiceResourceGroup>BuildingManagement_group</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/45f678ec-b712-44c3-8244-0f53ab86f3f1/resourceGroups/BuildingManagement_group/providers/Microsoft.Web/sites/BuildingManagementMVC20260930173859</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>45f678ec-b712-44c3-8244-0f53ab86f3f1</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Azure subscription 1</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/45f678ec-b712-44c3-8244-0f53ab86f3f1/resourceGroups/BuildingManagement_group/providers/Microsoft.Web/sites/BuildingManagementMVC20260930173859 (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>8.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <ProjectGuid>25895507-f3eb-ad11-a193-9757b0191ad9</ProjectGuid>
    <ProjectOutputPath>published</ProjectOutputPath>
    <ProjectPath>.</ProjectPath>
    <PublishProvider>AzureWebSite</PublishProvider>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>981e4bed-7bfc-4b8a-8239-cfa134defc2f</TenantId>
    <WebPublishMethod>Custom</WebPublishMethod>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>